<html xmlns:th="http://thymeleaf.org">

<head>
	<title>Listado de Contratos</title>
</head>

<body>



</html>
<p th:if="${error}" th:text="${error}"></p>

<h1>Listado de Contratos</h1>

<form th:action="@{/contratos/listado}" method="get">
	<select name="estado">
		<option value="">Todos</option>
		<option th:each="e : ${T(com.tuti.desi.pozzeroterososanaranjo.enums.EstadoContrato).values()}" th:value="${e}"
				th:text="${e}" th:selected="${e == estado}"></option>
	</select>
	<select name="propiedadId">
		<option value="" th:selected="${propiedadId == null}">Todas</option>
		<option th:each="p : ${propiedades}" th:value="${p.id}" th:text="${p.direccion}"
			th:selected="${p.id == propiedadId}"></option>
		</option>
	</select>
	<select name="inquilinoId">
		<option value="" th:selected="${inquilinoId == null}">Todas</option>
		<option th:each="p : ${personas}" th:value="${p.id}" th:text="${p.nombre}" th:selected="${p.id == inquilinoId}">
		</option>
		</option>
	</select>
	<input type="date" name="fechaDesde" th:value="${fechaDesde}" />
	<input type="date" name="fechaHasta" th:value="${fechaHasta}" />
	<button type="submit">Filtrar</button>
</form>

<table border="1">
	<thead>
		<tr>
			<th>Id</th>
			<th>Propiedad</th>
			<th>Inquilino</th>
			<th>Fecha Inicio</th>
			<th>Importe Mensual</th>
			<th>Día Vencimiento</th>
			<th>Estado</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="contrato : ${contratos}">
			<td th:text="${contrato.id}"></td>
			<td th:text="${contrato.propiedad.direccion}"></td>
			<td th:text="${contrato.inquilino.nombre}"></td>
			<td th:text="${contrato.fechaInicio}"></td>
			<td th:text="${contrato.importeMensual}"></td>
			<td th:text="${contrato.diaVencimientoMensual}"></td>
			<td th:text="${contrato.estado}"></td>
			<td>
				<a th:href="@{/contratos/editar/{id}(id=${contrato.id})}">Editar</a>

				<form th:action="@{/contratos/eliminar/{id}(id=${contrato.id})}" method="post" style="display:inline">
					<button type="submit">Eliminar</button>
				</form>
			</td>
		</tr>

	</tbody>
</table>
</body>